[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pymongo = "*"
dnspython = "*"
bcrypt = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"

[dev-packages]

[requires]
